# --- Obsidian ---
.obsidian/.trash
.trash
.obsidian/
*.obsidian/workspace
*.obsidian/workspace.json
*.obsidian/graph.json
*.obsidian/appearance.json
# Allow plugins to sync, but ignore their local data caches
.obsidian/plugins/*/.git
.obsidian/plugins/*/.DS_Store

# --- System Files ---
.DS_Store
Thumbs.db
*.log

# --- Development & IDEs ---
.vscode/
.idea/
*.swp
*.swo

# --- Security(Safety Net) ---
*.env
*.secret
*.pem
*.*key
